
<!--------------- Certificate ------------------>   
<div class="stepServer"> 
	<div class="stepServerContent" id="authentication" ng-if="step<6 && sigalgoClient == true" style="background-color: #E5E7E9;">
        <div  ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleServer" ng-model="step" id="authentication"> 7</div>
        <div  ng-if="keyExchange[0] == 'serverHello'" class="circleServer" ng-model="step" id="authentication"> 5</div>
        <h3>Certificate</h3>
        <span ng-repeat="n in certificate" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
            </div>
            </br>        
        </span></br> 
    </div>


    <div class="stepServerContent" id="authentication" ng-if= "step>=6 && sigalgoClient == true">
         <div  ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleServer" ng-model="step" id="authentication"> 7</div>
        <div  ng-if="keyExchange[0] == 'serverHello'" class="circleServer" ng-model="step" id="authentication"> 5</div> 
        <h3>Certificate </h3>
        <p> (This message is encrypted) </p> <br/>
        <span ng-repeat="n in certificate" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                <div ng-if="n.delete == 'yes'" class="deleteButton" ng-click="showInfo('certificate', n, 'delete')">x</div>
                <div ng-if="n.adjustment == 'yes'" class="adjustButton" ng-click="showInfo('certificate', n, 'adjust')">+</div>
                <div class="infoButton" ng-click="showInfo('certificate', n, 'info')">i</div>
            </div>
            </br>        
        </span>

        <button ng-if="addList[6] == false || listAdd.length ==0" style="background-color: green; color:white;" ng-click="add('certificate',6)">
            Add
        </button>
        <div ng-if="addList[6] == true && listAdd.length==0">
            Nothing to add 
        </div>

        <form ng-if="addList[6] == true && listAdd.length >0">
            <span ng-repeat="(m,n) in listAdd">
            <input type="checkbox"  ng-model="listAddSelect[n]" >
                {{n}}
            </input>
            <br/>
            </span>
            <button style="background-color: green; color:white;" ng-click="addAdjust('certificate')">
                Adjust
            </button>
        </form></br>  
        <button ng-show='step == 6' ng-click="incrementStep(step,'normal')" id="authenticationButton">
            Next Step
        </button>
    </div>
</div>



<!--------------- Certificate Vertify ------------------>   
<div class="stepServer"> 
    <div class="stepServerContent" id="authentication" ng-if="step<7 && sigalgoClient == true" style="background-color: #E5E7E9;">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleServer" ng-model="step" id="authentication"> 8</div>
        <div ng-if="keyExchange[0] == 'serverHello'" class="circleServer" ng-model="step" id="authentication"> 6</div>
        <h3>Certificate Verify</h3>
        <span ng-repeat="n in certificateVerify" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
            </div>
            </br>        
        </span></br> 
    </div>


    <div class="stepServerContent" id="authentication" ng-if= "step>=7 && sigalgoClient == true">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleServer" ng-model="step" id="authentication"> 8</div>
        <div ng-if="keyExchange[0] == 'serverHello'" class="circleServer" ng-model="step" id="authentication"> 6</div> 
        <h3>Certificate Verify</h3>
        <p> (This message is encrypted) </p> <br/>
        <span ng-repeat="n in certificateVerify" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                <div ng-if="n.delete == 'yes'" class="deleteButton" ng-click="showInfo('certificateVerify', n, 'delete')">x</div>
                <div ng-if="n.adjustment == 'yes'" class="adjustButton" ng-click="showInfo('certificateVerify', n, 'adjust')">+</div>
                <div class="infoButton" ng-click="showInfo('certificateVerify', n, 'info')">i</div>
            </div>
            </br>        
        </span>

        <button ng-if="addList[7] == false || listAdd.length ==0" style="background-color: green; color:white;" ng-click="add('certificateVerify',7)">
            Add
        </button>
        <div ng-if="addList[7] == true && listAdd.length==0">
            Nothing to add 
        </div>

        <form ng-if="addList[7] == true && listAdd.length >0">
            <span ng-repeat="(m,n) in listAdd">
            <input type="checkbox"  ng-model="listAddSelect[n]" >
                {{n}}
            </input>
            <br/>
            </span>
            <button style="background-color: green; color:white;" ng-click="addAdjust('certificateVerify')">
                Adjust
            </button>
        </form></br>  
        <button ng-show='step == 7' ng-click="incrementStep(step,'normal')" id="authenticationButton">
            Next Step
        </button>
    </div>
</div>

<!--------------- Finished ------------------>   
<div class="stepServer"> 
    <div class="stepServerContent" id="authentication" ng-if="step<8" style="background-color: #E5E7E9;">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleServer" ng-model="step" id="authentication"> 9</div>
        <div ng-if="keyExchange[0] == 'serverHello'" class="circleServer" ng-model="step" id="authentication"> 7</div>
        <h3>Finished</h3>
        <!-- <p>This message is a Message Authentication Code (MAC) over the entire handshake. </p>
        <p>It provides key confirmation, binds the endpoint’s identity to the exchanged keys, and authenticates the handshake in PSK mode </p>
        <p>Recipients of this message should verify its correctness and termination the handshake with a “decrypt_error” alert in case it is incorrect.</p>
        <p>This message is essential for providing authentication of both the handshake and the computed keys.</p> -->
    </div>


    <div class="stepServerContent" id="authentication" ng-if= "step>=8">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleServer" ng-model="step" id="authentication"> 9</div>
        <div ng-if="keyExchange[0] == 'serverHello'" class="circleServer" ng-model="step" id="authentication"> 7</div>
        <h3>Finished</h3>
        <p> (This message is encrypted) </p> <br/>
       <p>This message is a Message Authentication Code (MAC) over the entire handshake. </p>
        <p>It provides key confirmation, binds the endpoint’s identity to the exchanged keys, and authenticates the handshake in PSK mode </p>
        <p>Recipients of this message should verify its correctness and termination the handshake with a “decrypt_error” alert in case it is incorrect.</p>
        <p>This message is essential for providing authentication of both the handshake and the computed keys.</p>
        

        
        <button ng-show='step == 8' ng-click="incrementStep(step,'normal')" id= "authenticationButton">
            Next Step
        </button>
    </div>
</div>

<!----------------------- EARLY DATA ---------------->
<div ng-if="keyExMode == 2 || keyExMode == 3 || keyExMode == 4" class="stepServer">
    <div class="stepServerContent" style="background-color:#2471A3; color: #fff;">
        <h3>Application Data</h3>    
        PSK mode: the client can send earlier application data.    
    </div>
</div>


<!------------------ CLIENT ------------------->

<div class="stepClient"> 
    <div class="stepClientContent" id="authentication" ng-if="step<9 && sigalgoServer == true" style="background-color: #E5E7E9;">
        <div  ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleClient" ng-model="step" id="authentication"> 10</div>
        <div  ng-if="keyExchange[0] == 'serverHello'" class="circleClient" ng-model="step" id="authentication"> 8</div>
        <h3>Certificate</h3>
        <span ng-repeat="n in certificateClient" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
            </div>
            </br>        
        </span></br> 
    </div>


    <div class="stepClientContent" id="authentication" ng-if= "step>=9 && sigalgoServer == true">
         <div  ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleClient" ng-model="step" id="authentication"> 7</div>
        <div  ng-if="keyExchange[0] == 'serverHello'" class="circleClient" ng-model="step" id="authentication"> 5</div> 
        <h3>Certificate </h3>
        <p> (This message is encrypted) </p> <br/>
        <span ng-repeat="n in certificateClient" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                <div ng-if="n.delete == 'yes'" class="deleteButton" ng-click="showInfo('certificateClient', n, 'delete')">x</div>
                <div ng-if="n.adjustment == 'yes'" class="adjustButton" ng-click="showInfo('certificateClient', n, 'adjust')">+</div>
                <div class="infoButton" ng-click="showInfo('certificateClient', n, 'info')">i</div>
            </div>
            </br>        
        </span>

        <button ng-if="addList[9] == false || listAdd.length ==0" style="background-color: green; color:white;" ng-click="add('certificateClient',9)">
            Add
        </button>
        <div ng-if="addList[9] == true && listAdd.length==0">
            Nothing to add 
        </div>

        <form ng-if="addList[9] == true && listAdd.length >0">
            <span ng-repeat="(m,n) in listAdd">
            <input type="checkbox"  ng-model="listAddSelect[n]" >
                {{n}}
            </input>
            <br/>
            </span>
            <button style="background-color: green; color:white;" ng-click="addAdjust('certificateClient')">
                Adjust
            </button>
        </form></br>  
        <button ng-show='step == 9' ng-click="incrementStep(step,'normal')" id="authenticationButton">
            Next Step
        </button>
    </div>
</div>



<!--------------- Certificate Vertify ------------------>   
<div class="stepClient"> 
    <div class="stepClientContent" id="authentication" ng-if="step<10 && sigalgoServer == true" style="background-color: #E5E7E9;">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleClient" ng-model="step" id="authentication"> 11</div>
        <div ng-if="keyExchange[0] == 'serverHello'" class="circleClient" ng-model="step" id="authentication"> 9</div>
        <h3>Certificate Verify</h3>
        <span ng-repeat="n in certificateVerifClient" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
            </div>
            </br>        
        </span></br> 
    </div>


    <div class="stepClientContent" id="authentication" ng-if= "step>=10 && sigalgoServer == true">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'" class="circleClient" ng-model="step" id="authentication"> 11</div>
        <div ng-if="keyExchange[0] == 'serverHello'" class="circleClient" ng-model="step" id="authentication"> 9</div> 
        <h3>Certificate Verify</h3>
        <p> (This message is encrypted) </p> <br/>
        <span ng-repeat="n in certificateVerifClient" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                <div ng-if="n.delete == 'yes'" class="deleteButton" ng-click="showInfo('certificateVerifClient', n, 'delete')">x</div>
                <div ng-if="n.adjustment == 'yes'" class="adjustButton" ng-click="showInfo('certificateVerifClient', n, 'adjust')">+</div>
                <div class="infoButton" ng-click="showInfo('certificateVerifClient', n, 'info')">i</div>
            </div>
            </br>        
        </span>

        <button ng-if="addList[10] == false || listAdd.length ==0" style="background-color: green; color:white;" ng-click="add('certificateVerifClient',10)">
            Add
        </button>
        <div ng-if="addList[10] == true && listAdd.length==0">
            Nothing to add 
        </div>

        <form ng-if="addList[10] == true && listAdd.length >0">
            <span ng-repeat="(m,n) in listAdd">
            <input type="checkbox"  ng-model="listAddSelect[n]" >
                {{n}}
            </input>
            <br/>
            </span>
            <button style="background-color: green; color:white;" ng-click="addAdjust('certificateVerifClient')">
                Adjust
            </button>
        </form></br>  
        <button ng-show='step == 10' ng-click="incrementStep(step,'normal')" id="authenticationButton">
            Next Step
        </button>
    </div>
</div>


<!--------------- Finished ------------------>   
<div class="stepClient"> 
    <div class="stepClientContent" id="authentication" ng-if="step<11" style="background-color: #E5E7E9;">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'"  class="circleClient" ng-model="step" id="authentication"> 12</div>
        <div ng-if="keyExchange[0] == 'serverHello'"  class="circleClient" ng-model="step" id="authentication"> 10</div>
        <h3>Finished</h3>
        <!-- <p>This message is a Message Authentication Code (MAC) over the entire handshake. </p>
        <p>It provides key confirmation, binds the endpoint’s identity to the exchanged keys, and authenticates the handshake in PSK mode </p>
        <p>Recipients of this message should verify its correctness and termination the handshake with a “decrypt_error” alert in case it is incorrect.</p>
        <p>This message is essential for providing authentication of both the handshake and the computed keys.</p> -->
    </div>


    <div class="stepClientContent" id="authentication" ng-if= "step>=11">
        <div ng-if="keyExchange[0] == 'helloRetryRequest'"  class="circleClient" ng-model="step" id="authentication"> 12</div>
        <div ng-if="keyExchange[0] == 'serverHello'"  class="circleClient" ng-model="step" id="authentication"> 10</div> 
        <h3>Finished</h3>
        <p> (This message is encrypted) </p> <br/>
        <p>This message is a Message Authentication Code (MAC) over the entire handshake. </p>
        <p>It provides key confirmation, binds the endpoint’s identity to the exchanged keys, and authenticates the handshake in PSK mode </p>
        <p>Recipients of this message should verify its correctness and termination the handshake with a “decrypt_error” alert in case it is incorrect.</p>
        <p>This message is essential for providing authentication of both the handshake and the computed keys.</p>
    </div>
</div>

<div>
    <div class="stepClient">
        <div  class="stepClientContent" style="background-color:#2471A3; color: #fff;">
            <h3>Application Data</h3>    
        </div>
    </div>
</div>
</div>
    <div class="stepServer">
        <div  class="stepServerContent" style="background-color:#2471A3; color: #fff;">
            <h3>Application Data</h3>    
        </div>
    </div>
</div>