<div class="content">
<div class="row">

    <div class="col-lg-3 col-lg-3 col-lg-3" >
        <div ng-include="'views/leftBox.html'"></div>
    </div>

    <div class="col-lg-6 col-lg-6 col-lg-6">
        <div class="peers">
                <div class="peerP1">Client</div>
                <div class="peerP2">Server</div>
        </div>
        <div class="lignP1">
            <!--------------- KEY EXCHANGE ------------------>
            <div ng-include="'views/keyExchange.html'"></div>
            
            <!--------------- SERVER PARAMETERS ------------------>
            <div ng-include="'views/serverParameters.html'"></div>
            
        </div>
    </div>
            
   
    <div class="col-lg-3 col-lg-3 col-lg-3">
        <div ng-if="error == true">
            <span ng-repeat="alert in alerts" ng-if="n.deleted=='no'" on-click="showAlert()">
                <div class="threadAlert">
                    <h3>{{alert.title}}</h3>
                    Click to expand
                </div>
            </span> 
        </span><br/>
        </div>

        
    </div>
</div>
</div>
