<div class="content">
<div class="row">

    <div class="col-lg-3 col-lg-3 col-lg-3" >
        <div class="leftBox" > 
            <h5>{{leftBoxTitle}}</h5> 
            {{leftBoxContent}}  
        </div>
    </div>

    <div class="col-lg-6 col-lg-6 col-lg-6">
        <div class="peers">
            <div class="peerP1">Client</div>
            <div class="peerP2">Server</div>
        </div>
        <div class="lignP1">
    <!--------------- KEY EXCHANGE ------------------>
        <!--------------- CLIENT REQUEST ------------------>    
            <div class="stepClient">    
                <div class="circleClient" ng-model="step"> 1 </div> 
                <h4>ClientHello</h4>
                <div ng-repeat="n in clientHello">
                    <div style="display: inline-block;">
                        {{n.eltType}} {{n.eltName}} {{n.eltValue}} 
                        <div class="deleteButton" ng-click="showInfo(n, 'delete')">x</div>
                        <div class="adjustButton" ng-click="showInfo(n, 'adjust')">+</div>
                        <div class="infoButton" ng-click="showInfo(n, 'info')">i</div>
                    </div>
                    </br>
                </div>         
            </div>    
        <!--------------- SERVER RESPONSE ------------------>   
            <!--------------- SERVERHELLO ------------------>
            <div class="stepServer"> 
                <div class="circleServer" ng-model="step"> 2</div> <h5>{{keyExchange[0].name}}</h5>
                <div ng-if="keyExchange[0].name == 'ServerHello'" ng-repeat="n in serverHello">
                    <div style="display: inline-block;">
                
                        {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                        <div class="deleteButton" ng-click="showInfo(n, 'delete')">x</div>
                        <div class="adjustButton" ng-click="showInfo(n, 'adjust')">+</div>
                        <div class="infoButton" ng-click="showInfo(n, 'info')">i</div>
                    </div>
                    </br>        
                </div>
                <div ng-if="keyExchange[0].name == 'HelloRetryRequest'" ng-repeat="n in helloRetryRequest">
                    <div style="display: inline-block;">
                        {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                        <div class="deleteButton" ng-click="showInfo(n, 'delete')">x</div>
                        <div class="adjustButton" ng-click="showInfo(n, 'adjust')">+</div>
                        <div class="infoButton" ng-click="showInfo(n, 'info')">i</div>
                    </div>
                    </br>        
                </div>
            </div> 


            <!---------- HELLORETRYREQUEST + ClientHello ----------->
            <div ng-if="keyExchange[0].name == 'HelloRetryRequest'" class="stepClient"> 
                <div class="circleClient" ng-model="step"> 3</div>    <h5>ClientHello</h5>        
                <span ng-repeat="rr in rrClientHello">
                    <span ng-if="o.id == rr.stepID">
                        <div style="display: inline-block;">
                            {{rr.eltType}}  {{rr.eltName}} {{rr.eltValue}}
                            <div class="deleteButton" ng-click="showInfo(n, 'delete')">x</div>
                            <div class="adjustButton" ng-click="showInfo(n, 'adjust')">+</div>
                            <div class="infoButton" ng-click="showInfo(n, 'info')">i</div>
                        </div>
                        </br>       
                    </span> 
                </span>
            </div>
        </div>
    </div>
            
   <!-------------------------------------------->   
    <div class="col-lg-3 col-lg-3 col-lg-3">
        <div class="threadAlert">
            <h3>Thread Alert</h3>
            Click to expand
        </div>
        <div class="alert">
            <h3>Property Alert</h3>
            Click to expand
        </div>
        
    </div>
</div>

    
    <!-- <random-ninja ninjas="ninjas" title="'Random Ninja'"> is our chosen random ninja -->
    <!-- </random-ninja> -->
</div>
