<div class="leftBox"> 
    <h4><b>{{leftBoxTitle}}</h4></b></br>


    <div ng-bind-html="leftBoxContent"  >
         
    </div>
    <div ng-if="adjusting == true" >
        
        <p ng-bind-html="adjustMessage" ng-if='supported_groups[0]== false && supported_groups[1]== false && key_share== false'>
         
        </p>
    
        <form >
            <span ng-repeat="n in splitted" ng-if='supported_groups[0]== false && supported_groups[1]== false && key_share== false'>
                <label ng-if='checkbox == false'>
                    <span ng-if='radioClientCertServer == true'>
                        <input  type="radio" ng-model="certServer.client" value="{{n}}" ng-change='nowAdjust()'>
                        {{n}}
                        </br>
                    </span>
                    <span ng-if='radioServerCertServer == true'>
                        <input  type="radio" ng-model="certServer.server" value="{{n}}" ng-change='nowAdjust()'>
                        {{n}}
                        </br>
                    </span>
                     <span ng-if='radioServerCertServer == false && radioClientCertServer == false'>
                        <input  type="radio" ng-model="data.adjust" value="{{n}}" ng-change='nowAdjust()'>
                        {{n}}
                        </br>
                    </span>
                </label>
                <label ng-if='checkbox == true' >
                    <span ng-if='checkboxCipherSuites == true'>
                        <input  type="checkbox"  ng-model="cipherSuitesClient[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <span ng-if='checkboxClientCert == true'>
                        <input  type="checkbox"  ng-model="clientCert[n]" ng-change='nowAdjust()'>
                        {{n}} 
                    </span>
                    <span ng-if='checkboxServerCert == true'>
                        <input  type="checkbox"  ng-model="serverCert[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <span ng-if='checkboxsign_algo[0] == true'>
                        <input  type="checkbox"  ng-model="signatureClient[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <span ng-if='checkboxsign_algo_cert[0] == true'>
                        <input  type="checkbox"  ng-model="signature_certClient[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                     <span ng-if='checkboxsign_algo[1] == true'>
                        <input  type="checkbox"  ng-model="signatureServer[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <span ng-if='checkboxsign_algo_cert[1] == true'>
                        <input  type="checkbox"  ng-model="signature_certServer[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <br/>  
                </label>
            </span>




            <span ng-if='supported_groups[0]== true && key_share== false||supported_groups[1]== true && key_share== false'>
                <p><b>Elliptic Curve Groups (ECDHE):</b></p>
                <span ng-repeat="n in groupsSplitted1">
                    <input ng-if="supported_groups[0] == true" type="checkbox"  ng-model="ECDHEClient[n]" ng-change='nowAdjust()'>
                    <input ng-if="supported_groups[1] == true" type="checkbox"  ng-model="ECDHEServer[n]" ng-change='nowAdjust()'>
                     {{n}}
                     <br/>
                </span>
                <br/>
                <p><b>Finite Field Groups (DHE):</b></p>
                <span ng-repeat="n in groupsSplitted2">
                    <input ng-if="supported_groups[0] == true" type="checkbox"  ng-model="DHEClient[n]" ng-change='nowAdjust()'>
                    <input ng-if="supported_groups[1] == true" type="checkbox"  ng-model="DHEServer[n]" ng-change='nowAdjust()'>
                     {{n}}
                     <br/>
                </span>
            </span>
            <span ng-if='key_share == true'>
                <p><b>Elliptic Curve Groups (ECDHE):</b></p>
                <span ng-repeat="n in groupsSplitted1" >
                    <input  type="radio"  ng-model="data.adjust" value="{{n}}"  ng-change='nowAdjust()'>
                    {{n}}
                    </br>
                </span>
                <br/>
                <p><b>Finite Field Groups (DHE):</b></p>
                <span ng-repeat="n in groupsSplitted2" >
                    <input  type="radio"  ng-model="data.adjust" value="{{n}}"  ng-change='nowAdjust()'>
                    {{n}}
                    </br>
                </span>                   
            </span>
        </form>
    </div>
</div>