<div class="leftBox"> 
    <h4><b>{{leftBoxTitle}}</h4></b></br>
    <div ng-bind-html="leftBoxContent"  >
        
    </div>
    <div ng-if="adjusting == true" >
        
        <p ng-bind-html="adjustMessage" >
         
         </p>
    
        <form>
            <span ng-repeat="n in splitted">
                <label ng-if='checkbox == false'>
                    <input  type="radio"  ng-model="data.adjust" value="{{n}}" ng-change='nowAdjust()'>
                    {{n}}
                    </br>
                </label>
                <label ng-if='checkbox == true' >
                    <span ng-if='checkboxCipherSuites == true'>
                        <input  type="checkbox"  ng-model="cipherSuitesClient[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <span ng-if='checkboxClientCert == true'>
                        <input  type="checkbox"  ng-model="clientCert[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <span ng-if='checkboxServerCert == true'>
                        <input  type="checkbox"  ng-model="serverCert[n]" ng-change='nowAdjust()'>
                        {{n}}
                    </span>
                    <br/>                                
                </label>
            </span>
        </form>
    </div>
</div>