

<!--------------- Encrypted Encryption ------------------>   
<div class="stepServer"> 
	<div class="stepServerContent" id="serverParameters" ng-if="step<3" style="background-color: #E5E7E9;">
        <div class="circleServer" ng-model="step" id="serverParameters"> 3</div> 
        <h3>Encrypted Extension</h3>
        <span ng-repeat="n in encryptedExtension" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
            </div>
            </br>        
        </span></br> 
    </div>


    <div class="stepServerContent" id="serverParameters" ng-if= "step>=3">
        <div class="circleServer" ng-model="step" id="serverParameters"> 3</div> 
        <h3>Encrypted Extension</h3>
        <span ng-repeat="n in encryptedExtension" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                <div ng-if="n.delete == 'yes'" class="deleteButton" ng-click="showInfo('encryptedExtension', n, 'delete')">x</div>
                <div ng-if="n.adjustment == 'yes'" class="adjustButton" ng-click="showInfo('encryptedExtension', n, 'adjust')">+</div>
                <div class="infoButton" ng-click="showInfo('encryptedExtension', n, 'info')">i</div>
            </div>
            </br>        
        </span></br>  
        <button ng-show='step == 3' ng-click="incrementStep(step,'normal')" >
  			Next Step
		</button>

        <button ng-if="addList[4] == false || listAdd.length ==0" style="background-color: green; color:white;" ng-click="add('encryptedExtension',4)">
            Add
        </button>
        <div ng-if="addList[4] == true && listAdd.length==0">
            Nothing to add 
        </div>

        <form ng-if="addList[4] == true && listAdd.length >0">
            <span ng-repeat="(m,n) in listAdd">
            <input type="checkbox"  ng-model="listAddSelect[n]" >
                {{n}}
            </input>
            <br/>
            </span>
            <button style="background-color: green; color:white;" ng-click="addAdjust('encryptedExtension')">
                Adjust
            </button>
    </div>
</div>

<!--------------- Certificate Request ------------------>   
<div class="stepServer" ng-if="keyExchange[1] == 'certificateRequest'"> 
    <div class="stepServerContent" id="serverParameters" ng-if="step <4" style="background-color: #E5E7E9;">
        <div class="circleServer" ng-model="step" id="serverParameters"> 4</div> 
        <h3>Certificate Request</h3>
        <!-- <span ng-repeat="n in certificateRequest" ng-if="n.deleted=='no'">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
            </div>
            </br>        
        </span></br>   -->
    </div>


    <div class="stepServerContent" id="serverParameters" ng-if= "step>=4">
        <div class="circleServer" ng-model="step" id="serverParameters"> 4</div> <h2>Certificate Reques</h2>
        
        <!-- <span ng-repeat="n in certificateRequest">
            <div style="display: inline-block;">
                {{n.eltType}}  {{n.eltName}} {{n.eltValue}}
                <div ng-if="n.delete == 'yes'" class="deleteButton" ng-click="showInfo('certificateRequest', n, 'delete')">x</div>
                <div ng-if="n.adjustment == 'yes'" class="adjustButton" ng-click="showInfo('certificateRequest', n, 'adjust')">+</div>
                <div class="infoButton" ng-click="showInfo('certificateRequest', n, 'info')">i</div>
            </div>
            </br>        
        </span></br>   -->
        <button ng-show='step == 4' ng-click="incrementStep(step,'normal')" >
  			Next Step
		</button>

        <button ng-if="addList[5] == false || listAdd.length ==0" style="background-color: green; color:white;" ng-click="add('certificateRequest',5)">
            Add
        </button>
        <div ng-if="addList[5] == true && listAdd.length==0">
            Nothing to add 
        </div>

        <form ng-if="addList[5] == true && listAdd.length >0">
            <span ng-repeat="(m,n) in listAdd">
            <input type="checkbox"  ng-model="listAddSelect[n]" >
                {{n}}
            </input>
            <br/>
            </span>
            <button style="background-color: green; color:white;" ng-click="addAdjust('certificateRequest')">
                Adjust
            </button>
    </div>



</div>