
body{
  font-family: Helvetica;
  margin: 0;
}

h1,h2,h3{
  margin: 0;
}

#menu-bar{
  background-color: #2471A3;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 35px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 9px 0;
}

menu-bar li{
  float: right;
  margin-left: 10px;
}

#menu-bar a{
  color: #fff;
  font-size: 28px;
  padding-right:30px;
}

main{
  /*background: #eee;*/
  /*width: 80%;*/
  margin: 20px auto;
  /*border-radius: 10px;*/
  font-size:25px;
}

.peerP1{
  display: inline-block;
  padding: 10px;
  border: 4px solid;
  text-align: center;
  font-size:35px;
  position: absolute;
  left:0;
  border-color: #2471A3; 
  text-align: center;
  background-color: #ffffff;
  z-index: 15;
  border-radius: 10%;
}

.peerP2{
  display: inline-block;
  padding: 10px;
  border: 4px solid;
  text-align: center;
  font-size:35px;
  position: absolute;
  right:0;
  border-color: #2471A3; 
  text-align: center;
  background-color: #ffffff;
  z-index: 15;
  border-radius: 10%;
}


.lignP1 {
  position: sticky;
  border: 3px solid;
  border-width: 0 3px 0 3px;
  height: 100%;
  border-color: #2471A3;
  padding-top: 100px;
  
}

.keyExchange{
  width:100%;
  margin:20px;
  position: relative;
  /*margin:120px;*/
  /*display: inline-block;*/
  border-color:#0000;
  border: 3px solid;

}

.leftBox{
  position:relative;
  padding:25px;
  display: inline-block;
  margin:10%;
  border-radius: 10%;
  text-align: center;
}

.infoButton{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  font-size:20px;
  margin:0px;
  color:white;
  background-color: #889EB7;
  display: inline-block;
}

.adjustButton{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  font-size:20px;
  margin:0px;
  color:white;
  background-color: #009200;
  display: inline-block;
}

.deleteButton{
  height: 30px;
  width: 30px;
  border-radius: 50%; 
  text-align: center;
  font-size:20px;
  margin:0px;
  padding:0px;
  color:white;
  display: inline-block;
  background-color: #e70000;
;
}

.alert{
  position:relative;
  background-color: #EC7063;
  margin:10%;
  border-radius: 40%;
  color:#fff;
  padding:20px;
  text-align: center;
}

.threadAlert{
  position:relative;
  background-color: #F7DC6F;
  margin:10%;  
  color: #fff;
  border-radius: 20%;
  padding:20px;
  text-align: center;
}

.stepClient{
  position:relative;
  /*top:15%;*/
  font-size: 20px;
  text-align: left;
}

#keyExchange{
  border-color: #99ace6;
}

#serverParameters{
  border-color: #ff9f80;
}

.stepClientContent{
  border: 4px solid;
  margin-top: 15px;
  border-radius: 5%;
  margin-left: 10px; 
  padding: 20px;
  padding-left:40px;
  font-size:25px;
  display: inline-block;
}


.stepServer{
  position:relative;
  font-size: 20px;
  text-align: right;
}

.stepServerContent{
  border: 4px solid;
  margin-top:15px;
  border-radius: 5%;
  padding: 20px;
  font-size:25px;
  padding-right:40px;
  display: inline-block;
  margin-right: 10px;
}

.circleClient {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 4px solid;
  text-align: center;
  font-size:35px;
  position: absolute;
  left:-37px;
  border-color: #889EB7;
  background-color: #ffffff;
}

.circleServer {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 4px solid;
  text-align: center;
  font-size: 35px;
  position: absolute;
  right:-37px;
  border-color: #889EB7;
  background-color: #ffffff;
}

.content{
  padding: 20px;
}
