
body{
  font-family: Helvetica;
  margin: 0;
}

#menu-bar{
  background-color: #2471A3;
  padding:5px;
  color: #fff;
  padding-left: 20px;
}

#menu-bar #title{
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 14px 0;
}

menu-bar li{
  float: right;
  margin-left: 10px;
}

#menu-bar a{
  color: #fff;
  font-size: 16px;
  padding-right:50px;
}

main{
  margin: 20px auto;
/*  font-size:25px;*/
}

#mode{
  padding:10px;
  font-size:18px;
  /*width:15%;*/
  display: inline-block;
  top:0;
  text-align: center;
  width:100%;
  border: 3px solid;
  border-color: #2471A3;
  margin:3% 0%; 
  border-radius: 10%;
}

.peerP1{
  display: inline-block;
  padding: 10px;
  border: 2px solid;
  text-align: center;
  font-size:25px;
  position: absolute;
  left:0;
  border-color: #2471A3; 
  text-align: center;
  background-color: #ffffff;
  z-index: 15;
  border-radius: 10%;
}

.peerP2{
  display: inline-block;
  padding: 10px;
  border: 2px solid;
  text-align: center;
  font-size:25px;
  position: absolute;
  right:0;
  border-color: #2471A3; 
  text-align: center;
  background-color: #ffffff;
  z-index: 15;
  border-radius: 10%;
}


.lignP1 {
  position: sticky;
  border: 3px solid;
  border-width: 0 3px 0 3px;
  height: 100%;
  border-color: #2471A3;
  padding-top: 100px;
  
}

.keyExchange{
  width:100%;
  margin:20px;
  position: relative;
  /*margin:120px;*/
  /*display: inline-block;*/
  border-color:#0000;
  border: 2px solid;

}


.leftBox{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding:25px;
  /*width:15%;*/
  display: inline-block;
  margin:5%;
  top:0;
  border-radius: 10%;
  text-align: center;
}



.infoButton{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-size:15px;
  margin:0px;
  color:white;
  background-color: #889EB7;
  display: inline-block;
}

.adjustButton{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-size:15px;
  margin:0px;
  color:white;
  background-color: #009200;
  display: inline-block;
}

.deleteButton{
  height: 20px;
  width: 20px;
  border-radius: 50%; 
  text-align: center;
  font-size:15px;
  margin:0px;
  padding:0px;
  color:white;
  display: inline-block;
  background-color: #e70000;
;
}

/*.alert{
  position:fixed;
  background-color: #EC7063;
  margin:5%;
  border-radius: 20%;
  color:#fff;
  padding:20px;
  text-align: center;
}*/

.threadAlert{
  position:relative;
  background-color: #ff9999;
  border: 3px solid;
  border-color: red;
  margin:10%;  
  color: #000;
  border-radius: 10%;
  padding:20px;
  text-align: center;
}

.explainAlert{
  position:relative;
  /*background-color: #FFE055;*/
  border: 3px solid;
  border-color: #FFB636;
  margin:10%;  
  color: #000;
  border-radius: 10%;
  padding:20px;
  text-align: center;
}

.stepClient{
  position:relative;
  text-align: left;
}

#keyExchange{
  border-color: #99ace6;
}


#keyExchangeButton{
  margin-top:5px;
  padding: 0px 20px;
  position: relative;
  border: 1px solid;
  border-color:#000;
  background-color:#99ace6;
  border-radius: 0%;
  color: #fff;
}

#serverParameters{
  border-color: #ff9f80;
}


#serverParametersButton{
  margin-top:5px;
  padding: 0px 20px;
  position: relative;
  border: 1px solid;
  border-color:#000;
  background-color:#ff9f80;
  border-radius: 0%;
  color: #fff;
}

#authentication{
  border-color: red;
}

#authenticationButton{
  margin-top:5px;
  padding: 0px 20px;
  position: relative;
  border: 1px solid;
  border-color:#000;
  background-color:red;
  border-radius: 0%;
  color: #fff;
}

.stepClientContent{
  border: 3px solid;
  margin-top: 10px;
  border-radius: 5%;
  margin-left: 10px; 
  padding: 18px;
  padding-top: 0px;
  padding-left:20px;
  font-size:16px;
  display: inline-block;
}


.stepServer{
  position:relative;
  font-size: 20px;
  text-align: right;
}

.stepServerContent{
  border: 3px solid;
  margin-top:10px;
  border-radius: 5%;
  padding: 20px;
  padding-top: 0px;
  font-size:16px;
  padding-right:20px;
  display: inline-block;
  margin-right: 10px;
}

.circleClient {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3.5px solid;
  text-align: center;
  font-size:22px;
  position: absolute;
  left:-28px;
  padding-top:3px;
  border-color: #889EB7;
  background-color: #ffffff;
}

.circleServer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3.5px solid;
  text-align: center;
  font-size: 22px;
  position: absolute;
  right:-28px;
  padding-top:3px;
  border-color: #889EB7;
  background-color: #ffffff;
}

.content{
  padding: 20px;
}
